@font-face {
  font-family: 'CormorantSC-Light';
  src:url('../fonts/CormorantSC-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src:url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Black';
  src:url('../fonts/Lato-Black.ttf') format('truetype');
}

body{
  overflow-x: hidden;
  margin: 0;
}


.ppContent{
  position: relative;
}
.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.left{
  position: absolute;
  top: 0;
  left: 0;
  width: 30.56%;
}

.border{
  position: absolute;
  top: 4.4vw;
  left: 9.2vw;
  width: 27.95vw;
}


.sales{
  position: absolute;
  /* border: 1px solid red; */
  color: white;
  transform: rotate(90deg);
  left: -2vw;
  top: 22.5vw;
  font-family: 'CormorantSC-Light';
}

.sales h2{
  margin: 0;
  font-weight: 100;
  font-size: 18.0226vw;
}

.sales p{
  font-family: 'Lato-Regular';
  margin: 0;
  font-size: 1.23vw;
  margin-top: -4.5vw;
  margin-left: 1vw;
}

.offPrice{
  font-family: 'Lato-Black';
  position: absolute;
  top: 54.5vw;
  left: 18.5vw;
  color: white;
  /* font-weight: 800; */
  font-size: 2.3171vw;
}


.prodContainer{
  position: absolute;
  left: 47vw;
  top: 14.6vw;
  width: 43.5028vw;
  height: 46.6vw;
  background: rgba(255,255,255,0.16);
  display: flex;
  align-items: center;
  justify-content: center;
}


.dust{
  transition: 0.75s;
  position: relative;
  left: 8vw;
  top: -9vw;
  width: 50.1029vw;
  /* width: 0; */
  /* opacity: 0; */
  transform: rotate(360deg);
  /* animation-name: dust;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
}

@keyframes dust {
  0%{
    opacity: 0;
    width: 0;
    transform: rotate(0deg);
  }
  90%{
    opacity: 0.8;
    width: 50.1029vw;
    transform: rotate(360deg);
  }
  100%{
    opacity: 0;
    width: 50.1029vw;
    transform: rotate(360deg);
  }
}

.bigCarContainer{
  /* border: 1px solid red; */
  right: -21.5vw;
  top: 0vw;
  position: absolute;
  width: 53vw;
  padding-left: 12vw;
  overflow: hidden;
  display: flex;
}

.big{
  flex-shrink: 0;
  transition: 1s;
  position: relative;
  width: 30.381vw;
  /* display: flex; */
}
.bigCarContainer div{
  transition: 1s;
}
.bigCarContainer div:nth-child(1){
  margin-right: 17vw;
  margin-left: -43vw;
}

.bigCarContainer div:nth-child(2) {
    margin-right: 9vw;
}

.carPickBox{
  display: flex;
  position: absolute;
  /* border: 1px solid red; */
  bottom: -2.574vw;
  left: 2.0597vw;
  width: 26vw;
  overflow: hidden;
  padding: 2px;
}

.carPickBox .smallProdBox:nth-child(1){
  margin-left: -8.7vw;
}

.carPickBox .smallProdBox:nth-child(2){
  outline: 1px solid rgba(255,255,255,0.4);
}

.smallProdBox{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  margin-right: 1.1843vw;
  width: 6.6941vw;
  height: 6.6941vw;
  background: #ff8c74;
  border-radius: 5px;
  border:0.51493vw solid rgba(255,255,255,0.16);
  /* box-sizing: border-box; */
  background-clip: content-box;
  transform: scale(1);
  flex-shrink: 0;
}
.smallProdBox:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.smallProdBox:nth-child(1){
  margin-left: ;
}

.smallProdBox:nth-child(3) img{
  /* width: 60%; */
}

.smallImg{
  width: 100%;
}


.leftArrowHolder{
  width: 5vw;
  height: 5vw;
  /* border: 1px solid red; */
  overflow: hidden;
}

.leftArrowHolder p{
  left: 1vw;
}

.rightArrowHolder{
  width: 5vw;
  height: 5vw;
  /* border: 1px solid red; */
  overflow: hidden;
  margin-right: 0.2vw;
}

.rightArrowHolder p{
  left: -1vw;
}

.rightArrowHolder div{
  right: -2.5vw;
}

.leftCarArrowBox,.rightCarArrowBox{
  transition: 0.3s;
  width: 5vw;
  position: relative;
  height: 5vw;
  background: rgb(230,230,230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: calc(50% - 1vw); */
  opacity: 0.25;
  /* margin-bottom: 1vw; */
  /* left: -2vw; */
}
.leftCarArrowBox:hover,.rightCarArrowBox:hover{
  cursor: pointer;
  opacity: 0.6;
}
.leftCarArrowBox p,.rightCarArrowBox p{
  transform: scale(1,1.6);
  font-size: 2.5vw;
  position: relative;
  transform: rotate(180deg);
}
.arrows {
    /* border: 1px solid black; */
    position: absolute;
    top: 41.5vw;
    width: 12vw;
    left: 27vw;
    display: flex;
}
.leftCarArrowBox{
  left: -2.5vw;
}
.rightCarArrowBox{
  right: 1vw;
}
